*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    background-color: #088395;
    height: 800px;
    width: 75%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

/* FIRST CARD */

#question{
    height: 350px;
    width: 75%;
    border-radius: 25px;
    background-color: #A4907C;
    margin-top: 30px;
}

#input_part{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50%;
}

input, select{
    height:35px;
    border-radius: 15px;
    border: none;
    background-color: #e9e9ed;
    width: 80%;
    outline: none;
}

form{
    margin-top: 20px;
}

label{
    font-size: 16px;
    font-weight: 600;
}

#km, #name, #age{
    text-align: center;
}

.col_input{
    width: 30%;
}

#generator_part{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

input[type="button"] {
    width: 100px;
    font-weight: 600;
    cursor: pointer;
}

input[type="button"]:hover {
    border: 2px solid black;
}

.green{
    background-color: #DDFFBB;
}

.red{
    background-color: #E74646;
}

/* SECOND CARD */

.ticket{
    height: 350px;
    width: 75%;
    border-radius: 25px;
    background-color: #D7E9B9;
    justify-content: center;
    align-items: center;
    display: none;
}

#active{
    display: flex
}
#exit_ticket{
    display: none;
}

#details{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 55%;
    flex-wrap: wrap;
}

.data_user{
    font-weight: 600;
    font-size: 18px;
    text-align: center;
}

.style_actual_data{
    margin-top: 30px;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}